body{
    text-align:center;
    font-family:Arial, sans-serif;
    background-color:#d6c2c2;
}

h1{
    color:#3f5160;
    font-size:80px;
}

p{
    font-size:40px;
}

button{
    background-color:#314c63;
    color:rgb(154, 144, 144);
    border:none;
    padding:12px 20px;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background-color:#1565c0;
}

input{
    padding:10px;
    width:250px;
    border-radius:5px;
}